body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../public/images/bg-top.svg), url(../public/images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: top right, bottom left;
}

* {
    padding: 0;
    box-sizing: border-box;
}